# Change the filename to secrets.sh
# This is only for servers

#Minecraft
export MINECRAFT_PORT="25565"

#Velocity
export VELOCITY_FORWARDING_SECRET="[secret]"

#Voice chat
export VOICECHAT_PORT="24454"

# ---Discord---
# The bot token for the discord bot
export DISCORD_BOT_TOKEN="[token]"
# The channel id for minecraft chat
export DISCORD_CHANNEL_ID="[id]"
# The id of the role that is allowed to use admin commands like kick
export DISCORD_ADMIN_ROLE_ID="[role_id]"

#Bluemap (SQL must be postgresql)
export BLUEMAP_PORT="8100"
export BLUEMAP_SQL_CONNECTION_URL="jdbc:postgresql://localhost:5432/bluemap"
export BLUEMAP_SQL_USER="userName"
export BLUEMAP_SQL_PASSWORD="passWord"
